﻿@*@page "/fetchdata"*@
@page "/fetchdata/{JWT}"

@using LoginMAUIBlazor.Data
@inject WeatherForecastService ForecastService
@layout MainLayout

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
	<p><em>Loading... @JWT</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>Temp. (C)</th>
				<th>Temp. (F)</th>
				<th>Tipo Clima</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var forecast in forecasts)
			{
				<tr>
					<td>@forecast.date.ToShortDateString()</td>
					<td>@forecast.temperatureC</td>
					<td>@forecast.temperatureF</td>
					<td>@forecast.summary</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {

	[Parameter]
	public string JWT { get; set; }
	Services.WeatherService service;

	private List<Models.Weather> forecasts;
	private List<Models.Weather> forecasts2;

	protected override async Task OnInitializedAsync()
	{
		service = new Services.WeatherService();
		forecasts = await service.GetWeathers(JWT);

	}



}
